#hero{
    .owl-item.active{
        .slider-title{
            font-size: 30px;
            color: black;
            text-align: center;
            text-shadow: 1px 1px 1px #444;
            animation: moveInleft 1s ease-out;
        }
        p{
            animation: moveInRignt 1s ease-out;
        }
        .btn{
            animation:moveInBottom 1s linear;
        }


        @keyframes moveInleft {
            0%{
                opacity: 0;
                transform: translateX(-100px);
            }
            80%{
                transform: translateX(10px);
            }
            100%{
                transform: translate(0);
                opacity: 1;
            }
        }
        @keyframes moveInRignt {
            0%{
              opacity: 0;
              transform: translateX( 100px);
            }
            80%{
              transform: translateX(-10px);
            }
            100%{
              opacity:1;
              transform: translate(0);
            }
        }
        @keyframes moveInBottom{
            0%{
              opacity: 0;
              transform: translateY(30px);
            }
            100%{
              opacity:1;
              transform: translate(0);
            }
        }
    }
    .owl-dots{
        width:100%;
        text-align: center;
        bottom:1%;

            button{
                border:none !important;
                outline:none  !important;
                background-color: #0e564a;
            }
        
    }
}


.owl-prev, .owl-next {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    color: rgb(190, 29, 29) !important;
    background-color: none !important;
    font-size: 60px !important;
    font-weight: bolder !important;
}
.owl-prev{
    left:1%;
}
.owl-next{
    right:1%;
}
 .owl-dots{
    text-align: center;
}
 .owl-dot{
    margin:5px;
    width: 10px;
    height: 8px;
    background: rgb(193, 210, 16);
    border-radius: 40%;
    transition: all 0.3s;
}
.owl-dot.active{
    width: 25px;
    height: 10px;

}